<nav class = "navbar sticky-top navbar-light navbar-expand-lg" style="background-color: #7BDFF2">
    <div class = "container-fluid">
      <a class = "navbar-brand mb-0 h1" style="font-size:1.5rem" href="{{ site.url }}">
        <img src="/public/images/logo.png" alt="" width="32" height="32" class="d-inline-block align-text-top">Dashboard
      </a>            
        <a class = "nav-link active" href="{{ site.url }}/goalsandinterests2022" id="currentInterestsLink">Explore Causes</a>
        <a class = "nav-link active" href="{{ site.url }}/goalsandinterests2022" id="currentInterestsLink">Forum</a>
        <a class = "nav-link active" href="{{ site.url }}/goalsandinterests2022" id="currentInterestsLink">Resources</a>
        </div>
    </div>
  </nav>