<% if (!profiles.length) { %>
    <h2>No profiles here yet</h2>
<% } else { %>
    <% profiles.forEach(profile => { %>
        <li><%= profile.name %></li>
        <li><%= profile.causes %></li>
        <li><%= profile.skills %></li>
        <li><%= profile.interests %></li>

    <% }) %>
    <% } %>

    <a href="../profiles/quiz">Add a Quiz</a>