<%- include ('partials/html-head.ejs') %>
<%- include ('partials/navbar.ejs') %>
<main>
    <section>
        
    </section>
    <section>
        <img src="images/circle.png"> Text Here.
    </section>
</main>