<%- include ('partials/html-head.ejs') %>
<%- include ('partials/navbar.ejs') %>
<main>
    <section>
        
    </section>
    <section>
        <img src="/public/images/circle.png">Text here</img>
    </section>
</main>